*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.wrapper{
    background: #E5E5E5;
    height: 100vh;

} 
.left-container-1{
    display: inline-block;
    width: 30%;
    height: 100%;
    background-color: #2f80ed;
    vertical-align: middle;
/*    border: 1px solid black;*/
}
.right-container-1{
    display: inline-block;
    width:69%;
    height: 100%;
    background-color:#ffffff;
    vertical-align: middle;
}


.home{
    display: inline-block;
}

.vector{
    display: inline-block;
    width: 15.67px;
    height: 7.55px;
    top: 2.72px;
    left: 3px;
}
.simple{
    display: inline-block;
    color: #FFFFFF;
    margin: 30px;
}
button{
    display: inline-block;
    width: 90px;
    height: 20px;
    background-color:#333333;
    color: #ffffff;
    margin: 10px;
    
}


  
.bare{
    display: inline-block;
    width: 300px;
    color: #4f4f4f;
    margin-left: 350px;
    padding: 20px;
    
}
.analitics{
    display:inline-block;
    width: 500px;
    margin-left: 152px;
    padding: 50px;
    

}
.amount{
    display: inline-block;
    width: 300px;
    color: #4f4f4f;
    margin-left: 152px;
    padding: 50px;
}  


.wrapper-1{
     background: #E5E5E5;
    height: 100vh;
}

.left-container-2{
     display: inline-block;
    width: 30%;
    height: 100%;
    background-color: #2f80ed;
    vertical-align: middle;
}

.right-container-2{
     display: inline-block;
    width:69%;
    height: 100%;
    background-color:#ffffff;
    vertical-align: middle;
}


.left-container-2 img{
    display: inline-block;
    width: 18px;
    height: 10px;
    left: 3px;
}

}
 .simple{
    display: inline-block;
    color: #ffffff;
}
.logout{
    display: inline-block;
    color: #ffffff;
    padding: 20px;
    margin-top: 450px;
}

.wrapper-2{
    display: inline-block;
}
.day{
    display: inline-block;
    width: 243px;
    height: 130px;
    border: 1px solid black;
    padding: 30px;
    margin-left: 20px;
    color: #ffffff;
    background-color: #333333;
    border-radius: 25px;
}
.week{
    display: inline-block;
    width: 227px;
    height: 130px;
    border: 1px solid black;
    padding: 30px;
    margin: 40px;
     color: #ffffff;
    background-color: #333333;
    border-radius: 25px;
}
.month{
    display: inline-block;
    width: 227px;
    height: 130px;
    border: 1px solid black;
    padding: 30px;
     color: #ffffff;
    background-color: #333333;
    border-radius: 25px;
}
input{
    width: 788px;
    height: 65px;
    margin-left: 20px;
}
.wrapper-3{
    background: #E5E5E5;
    height: 100vh;
 
}
.left-container-3{
    display: inline-block;
    width: 30%;
    height: 100%;
    background-color: #2f80ed;
    vertical-align: top; 
}
.right-container-3{
    display: inline-block;
    width:69%;
    height: 100%;
    background-color:#ffffff;
    vertical-align: top;
}

h3{
    display: inline-block;
    margin-bottom: 60px;
}
.form-input{
/*    display: inline-block;*/
    width: 200px;
    height: 55px;
    margin-top: 50px;
}
.checkbox{
    width: 40px;
    height: 40px;
    margin-left: 770px;
}
.button-1{
    width: 100px;
    height: 40px;
    margin-top: 50px;
}

   